 #team { 
scroll-margin-top: 60px;
margin-top:-3%;
 } 

 .py-5{
  background-color: rgb(230, 229, 235);
  border-radius: 4%;
  
 }

 #team h2{
  font-size:37px;
  color:rgb(11, 2, 24);
  
 }

.team-card {
  position: relative;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-card:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.team-card-img {
  width: 100%;
  max-width: 265px;
  height: 222px !important;
  object-fit:fill;
  object-position: center;
  background-color: #f0f0f0;
  margin: 0 auto;
  display: block;
}



.team-card:hover .card-body {
  background: #f3f3f6;
}

.team-title {
  position: relative;
  display: inline-block;
  padding-bottom: 0.7rem;
}


